@font-face {
  font-family: 'Bespoke Slab';
  src:
    url('../fonts/BespokeSlab-Extrabold.woff2') format('woff2'),
    url('../fonts/BespokeSlab-Extrabold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
