@font-face {
  font-family: 'Scratchedfont';
  src: url('/fonts/PWScratchedfont.woff2') format('woff2'),
    url('/fonts/PWScratchedfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.scratched-font {
  font-family: 'Scratchedfont';
  font-weight: 500;
  font-style: normal;
}
